@charset "utf-8";
          /* 섹션1 */
          .sec1-pc {margin-top: 200px;}
          .sec1-pc img{margin: auto;}
          .swiper-pagination-bullet{width: 30px;height: 4px; background-color: #7632fe;border-radius: 0;} 
          .sec1-mo{display: none;}

          /* 섹션2 */
          .sec2-mo{display: none;}
          .sec2{margin-top: 150px;
            background: 464A60;background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(22, 73, 125, 1) 100%);}
          .sec2 .battle{justify-content: space-between;align-items: center;padding-top: 20px;}
          .sec2 .battle p{color: #fffefe;font-size: 21px;cursor: pointer;}
          .sec2 .work-card{margin-top: 30px; width:16%;color: #fffefe;cursor: pointer;}
          .sec2 .work-card img{border-radius: 10px;}
          .sec2 .work-card span{margin-top: 15px;display: block;font-size: 21px;font-weight: bold;}
          .sec2 .work-card p{display: block;padding: 20px 0;font-size: 16px;}

          /* 섹션3 */
          .sec3{margin-top: 150px;}
          .sec3 .rank {justify-content: space-between;align-items: center;width: 100%;}
          .sec3 .main{font-size: 32px;font-weight: bold;}
          .sec3 .rank-control{background-color: #f5f5f7;border-radius: 10px;}
          .sec3 .rank-control a p{color: #202020;padding: 10px 30px;border-radius: 10px;font-weight: bold;display: inline-block;}
          .sec3 .rank-control .now {background-color: #7632fe;color: #fffefe;}
          .sec3 .time-info{margin-top: 30px;margin-right: 20px;}
          .sec3 #ranking-time{font-weight: bold;font-size: 21px;}
          .sec3 .filter-display{margin-top: 31px;border: solid 1px #7632fe;padding: 0 5px;
          border-radius: 10px;}
          .sec3 .material-symbols-outlined{align-items: center;}
          .sec3 .choice {margin-top: 30px;justify-content: space-between; align-items: center;}
          .sec3 .choice ul {gap: 30px;}
          .sec3 .choice ul li {font-size: 18px;color: #202020;cursor: pointer;font-weight: bold;padding: 10px 20px;border-radius: 10px;border: solid 1px #7632fe;}
          .sec3 .choice ul li:first-child{color: #fffefe;background-color: #7632fe;}
          .sec3 .choice a{font-size: 18px;color: #7632fe;cursor: pointer;font-weight: bold;}

          .sec3 .rank-gr {margin-top: 40px;cursor: pointer;gap: 10px;}  
          .sec3 .rank-gr .img-box {width: 24%;}
          .sec3 .rank-gr .work-card.swiper-slide img{border-radius: 10px;}

          .sec3 .rank-gr .work-card.swiper-slide span {margin-top: 10px;font-size: 18px;font-weight: bold;color: #202020;display: block;}
          .sec3 .rank-gr .work-card.swiper-slide p {font-size: 16px;color: #202020;margin-top: 5px;}

          /* 섹션4 */
          .sec4{margin-top: 150px;}
          .sec4 .rank-control{justify-content: space-between;align-items: center;}
          .sec4 .main{font-size: 32px;font-weight: bold;}
          .sec4 .how a{color: #7632fe;font-weight: bold;font-size: 18px;align-items: center;}
          .sec4 .rank-gr {margin-top: 40px;cursor: pointer;gap: 10px;}  
          .sec4 .rank-gr .work-card.swiper-slide {width:24%}
          .sec4 .rank-gr .work-card.swiper-slide img{border-radius: 10px;}

          .sec4 .rank-gr .work-card.swiper-slide span { margin-top: 10px;display: block;font-size: 18px;font-weight: bold;color: #202020;}
          .sec4 .rank-gr .work-card.swiper-slide p {font-size: 16px;color: #202020;margin-top: 5px;}

          /* 모달 */
          .modal {
    
            position: fixed;
            left: 0;
            top: 0;    
                
            width: 100%;
            height: 100%;   
            background-color: rgba(0, 0, 0, 1);
            z-index: 900; /* z-index는 반드시 들어가야 한다 */ 
            
        }
    
    
        .modal-wrap { position: absolute;  width: 100%;height: 100%;
            z-index: 1000;left: 0%; top: 0px; 
        overflow-y: auto; padding: 50px 0;
        }
    
        .modal-body{    z-index: 1000;  position: relative;
        background-color: rgb(255, 255, 255);  text-align: center; padding:30px ;
            width: 80%; margin: auto; border-radius: 30px;  margin-bottom: 50px; border-radius: 30px;}  
        .modal-body h2{margin-bottom: 50px; font-size: 36px; padding-top: 30px; color: #1d1d1d;}
        .modal-body p{font-size: 24px;}
    
    
        .modal-close {
            position: absolute; /* fixed도가능함 */
            right: 60px;
            top: 70px;    
            color: #1d1d1d;
            cursor: pointer;  
            font-size: 40px;
        }

          .intro {display: block;max-width: 100%;margin:auto;}
          .intro-mo {display: none;max-width: 100%; height:auto; margin:auto;}
      
      
          @media(max-width:1400px){
              .modal, .modal-wrap{display: none};
              }

      /* 테블릿 */
      @media (max-width:992px){
        

        .sec1-pc{margin-top: 180px;}
        .sec1-pc img{width: 90%;}

        .sec2{display: none;}
        .sec2-mo{display: block;}
        .sec2-mo{margin-top: 80px;
        background: 464A60;background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(22, 73, 125, 1) 100%);}
        .sec2-mo .battle{justify-content: space-between;align-items: center;padding:20px 10px;}
        .sec2-mo .battle p{color: #fffefe;font-size: 18px;cursor: pointer;}
        .sec2-mo .work-card{margin-top: 10px; color: #fffefe;cursor: pointer;}
        .sec2-mo .work-card img{border-radius: 10px;margin: 0 10px;}
        .sec2-mo .img-box {flex-wrap: nowrap}
        .sec2-mo .work-card span{margin-top: 10px;display: block;font-size: 16px;font-weight: bold;margin: 0 10px;padding-top: 10px}
        .sec2-mo .work-card p{display: block;;font-size: 14px;margin: 0 10px;padding-bottom: 20px;}

        .sec3{margin-top: 80px;}
        .sec3 .rank{padding: 0 10px;}
        .sec3 .main{font-size: 24px;}
        .sec3 .time-info{margin-top: 20px;padding: 0 10px;}
        .sec3 .filter-display{margin-top: 21px;}
        .sec3 .choice ul {padding: 0 10px;}
        .sec3 .more-link{padding: 0 10px;}
        .sec3 .rank-gr {gap: 9px;padding: 0 9px;}
        .sec3 .rank-gr .img-box{width: 24%;}
        .sec3 .rank-gr .work-card.swiper-slide span {font-size: 16px;}
        .sec3 .rank-gr .work-card.swiper-slide p {font-size: 14px;}

        .sec4{margin-top: 80px;}
        .sec4 .rank-control{padding: 0 10px;}
        .sec4 .main{font-size: 24px;}
        .sec4 .how a{font-size: 16px;}
        .sec4 .rank-gr {gap: 9px;padding: 0 9px;}
        .sec4 .rank-gr .work-card.swiper-slide span {font-size: 16px;}
        .sec4 .rank-gr .work-card.swiper-slide p {font-size: 14px;}


      
        



      }

      /* 모바일 */
      @media (max-width:767px){

        .modal, .modal-wrap { display: block; }
        .intro {display:none;}
        .intro-mo {display: block;}
        .modal-body h2 {font-size: 24px;margin-bottom: 30px;padding-top: 10px;}
        .modal-close {right: 20px;top: 28px;font-size: 30px;padding: 10px;} 
        

        .sec1-pc{display: none;}
        .sec1-mo{display: block;margin-top: 180px;}
        .sec1-mo img{padding: 0 0}

        .sec2-mo{margin-top: 60px;}
        .sec2-mo .work-card span {font-size: 14px;}
        .sec2-mo .work-card p{padding-top: 10px;}

        .sec3{margin-top: 60px;}
        .sec3 .main{font-size: 18px;}
        .sec3 .rank-control a p {padding: 6px 16px;font-size: 16px;}
        .sec3 .choice ul {gap: 14px;}
        .sec3 .choice ul li {font-size: 14px;padding: 6px 14px}
        .sec3 .more-link{padding: 0 0px;font-size: 14px;}
        .sec3 .rank-gr {margin-top: 20px;}
        .sec3 .rank-gr .work-card.swiper-slide span {font-size: 14px;}
        .sec3 .rank-gr .work-card.swiper-slide p {font-size: 13px;}

        
        .sec4{margin-top: 60px;}
        .sec4 .main{font-size: 18px;}
        .sec4 .how a{font-size: 14px;}
        .sec4 .rank-gr {margin-top: 20px;}
        .sec4 .rank-gr .work-card.swiper-slide span {font-size: 14px;}
        .sec4 .rank-gr .work-card.swiper-slide p {font-size: 13px;}


    

  
      }
      
      /* 미니폰 */
      @media (max-width:400px){
        
        
        .sec1-mo{margin-top: 150px;}

        .sec2-mo .battle img{max-width: 80%;}
        .sec2-mo .battle p {font-size: 16px;}

        .sec2-mo .work-card span{font-size: 13px;}
        .sec2-mo .work-card p{font-size: 13px;}

        .sec3{margin-top: 40px;}
        .sec3 .main{font-size: 16px;}
        .sec3 .rank-control a p {padding: 4px 14px;font-size: 14px;}
        .sec3 .time-info {margin-top: 16px;}
        .sec3 #ranking-time {font-size: 16px;}
        .sec3 .filter-display {margin-top: 18px;font-size: 13px;}
        .sec3 .material-symbols-outlined {font-size: 13px;margin-top: 4px;}
        .sec3 .choice ul {gap: 14px;}
        .sec3 .choice ul li {font-size: 12px;padding: 6px 12px;}
        .sec3 .more-link{padding: 0 0px;font-size: 14px;}
        .sec3 .rank-gr {margin-top: 20px;}
        .sec3 .rank-gr .work-card.swiper-slide span {font-size: 12px;}
        .sec3 .rank-gr .work-card.swiper-slide p {font-size: 12px;}

        .sec4{margin-top: 40px;}
        .sec4 .main{font-size: 16px;}
        .sec4 .how a{font-size: 14px;}
        .sec4 .rank-gr {margin-top: 20px;}
        .sec4 .rank-gr .work-card.swiper-slide span {font-size: 12px;}
        .sec4 .rank-gr .work-card.swiper-slide p {font-size: 12px;}


      }


