@charset "utf-8";
    /* 헤더 */
        header.shrink {padding: 10px 0;}
        header .container {padding: 0 30px;}


        /* 섹션 */
        .cont{background-color:#f5f5f7;margin-top: 71px;padding: 25px 0;}  
        .cont.shrink { position: fixed;top: 50px;left: 0;width: 100%;z-index: 90;margin: 0;padding: 10px 0;}
        .cont .container.flex-box {align-items: center;}
        .cont h2{color: #121212;top: 30px; padding-left: 20px; }
        .cont ul li{color:#121212;margin-left: 30px; display: inline-block;}

        /* bar */
        .bar{background-color: rgba(250, 250, 252, 0.94);padding: 10px; align-items: center;display: none;}
        .bar h2{color: #121212; }
        .bar .container.flex-box {justify-content: space-between;align-items: center;}
        .bar ul {justify-content: flex-end;}
        .bar ul li{background-color: #0071e3;display: inline-block;padding: 5px 30px;border-radius: 15px;margin: 0 10px;}
        .bar ul li:hover{cursor: pointer; background-color: #121212; transition: all 0.5s;}
        .bar.fixed {position: fixed;top: 0;left: 0;width: 100%;z-index: 100;}
        

        /* 비디오 */
        .video embed{width: 100%;;height: 750px;}



        /* 섹션2 */
        .cont1 .flex-box{align-items: center;padding: 20px 30px; color: #f5f5f7;}
        .cont1 div .flex-box{background-color: #f5f5f7;padding: 10px 25px; border-radius: 15px;}
        .cont1 .container.flex-box > .flex-box {margin-left: auto;}
        .cont1 .flex-box>p{ color: #121212;}
        .cont1 .flex-box>p:nth-child(1){font-size: 26px;margin-right: 40px;font-weight: bold;}
        .cont1 .flex-box>a>p{background-color: #0071e3;padding: 10px 50px;border-radius: 15px; color: #f5f5f7;}
        .cont1 .flex-box>a>p:hover{background-color: #121212;transition: all 0.5s;}

        /* 섹션3 */
        .cont2{background-color: #17191d; color: #f5f5f7;}
        .cont2 h2{text-align: center;padding-top: 150px;font-size: 30px;}
        .cont2 .img-box{width: 20%;margin:50px auto;}
        .cont2 ul{text-align: center; padding: 10px;}
        .cont2 ul li{width: 50px;height: 50px; border-radius: 50%;display: inline-block;margin: 10px 10px ; outline: 1px solid #f5f5f7; outline-offset: 4px;}
        .cont2 ul li:hover{cursor: pointer;}
        
        .img-box img {display: none;}
        .img-box img.active {display: block;}
        .cont2 ul li.active {outline: 5px solid #0071e3; outline-offset: 4px;transition: all 0.5s;}
        
        #wh{background-color: #fff;}
        #bl{background-color: #1f2024;}
        #pu{background-color: #2c2d65;}

        /* 섹션4 */
        .cont3 h2{padding-top: 150px;text-align: center;font-size: 30px;  color: #f5f5f7;}
        .cont3 .imgbox ul.flex-box {margin-top: 50px; }
        .cont3 .imgbox > div img {border-radius: 15px;overflow: hidden;margin-top: 50px;}
        .cont3 .imgbox > div img:hover {cursor: pointer;}
        .cont3 .swiper{padding-bottom: 150px;}
        .cont3 .swiper-pagination-bullet-active{background-color: #f5f5f7;}
        .cont3 h3{margin-top: 30px;font-size: 30px; color: #f5f5f7;}
        .cont3 p{margin-top: 30px;text-align: left; color: #f5f5f7;}
        .cont3 .container{max-width: 1200px;}
        .cont3 .cont3-img {height: 400px;}
        .cont3 .cont3-img img{height: 100%;object-fit: cover;}

        /* 섹션5 */
        .cont4{background-color: #17191d;}
        .cont4 h2{padding-top: 150px;text-align: center;font-size: 30px; color: #f5f5f7;}
        .cont4 .imgbox ul.flex-box {margin-top: 50px;}
        .cont4 .imgbox > div img {border-radius: 15px;overflow: hidden;margin-top: 50px;}
        .cont4 .imgbox > div img:hover {cursor: pointer;}
        .cont4 .swiper{padding-bottom: 150px;}
        .cont4 .swiper-pagination-bullet-active{background-color: #f5f5f7;}
        .cont4 h3{margin-top: 30px;font-size: 30px; color: #f5f5f7;}
        .cont4 p{margin-top: 30px;text-align: left; color: #f5f5f7;}
        .cont4 .container{max-width: 1200px;}
        .cont4 .cont4-img {height: 400px;}
        .cont4 .cont4-img img{height: 100%;object-fit: cover;}

        /* 섹션6 */
        .cont5 h2{padding-top: 150px;text-align: center;font-size: 30px; color: #f5f5f7;}
        .cont5 .imgbox ul.flex-box {margin-top: 50px;}
        .cont5 .imgbox > div img {border-radius: 15px;overflow: hidden;margin-top: 50px;}
        .cont5 .imgbox > div img:hover {cursor: pointer;}
        .cont5 .swiper{padding-bottom: 150px;}
        .cont5 .swiper-pagination-bullet-active{background-color: #f5f5f7;}
        .cont5 h3{margin-top: 30px;font-size: 30px; color: #f5f5f7;}
        .cont5 p{margin-top: 30px;text-align: left; color: #f5f5f7;}
        .cont5 .container{max-width: 1200px;}
        .cont5 .cont5-img {height: 400px;}
        .cont5 .cont5-img img{height: 100%;object-fit: cover;}

        /* 섹션6 */
        .cont6{background-color: #17191d;}
        .cont6 h2{padding-top: 150px;text-align: center;font-size: 30px; color: #f5f5f7;}
        .cont6 .imgbox ul.flex-box {margin-top: 50px;}
        .cont6 .imgbox > div img {border-radius: 15px;overflow: hidden;margin-top: 50px;}
        .cont6 .imgbox > div img:hover {cursor: pointer;}
        .cont6 .swiper{padding-bottom: 150px;}
        .cont6 .swiper-pagination-bullet-active{background-color: #f5f5f7;}
        .cont6 h3{margin-top: 30px;font-size: 30px; color: #f5f5f7;}
        .cont6 p{margin-top: 30px;text-align: left; color: #f5f5f7;}
        .cont6 .container{max-width: 1200px;}
        .cont6 .cont6-img {height: 400px;}
        .cont6 .cont6-img img{height: 100%;object-fit: cover;}

        /* 풋터부분 */
        footer {margin-top: 0px;}


        /* 스와이퍼 */
        .swiper {
      width: 100%;
      height: 100%;
    }

    

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-pagination-clickable 
    .swiper-pagination-bullet{width: 14px;height: 14px; background-color: #f5f5f7;}





        /* 미디어쿼리 테블릿 */
        @media (max-width:991px){
        .cont1 .flex-box {padding: 20px 30px;}

        .video embed{height: 450px;}
        
        
        .cont2 h2{padding-top: 50px;}

        .cont3 h2 {padding-top: 100px;}
        .cont3 .swiper {padding-bottom: 100px;}

        .cont4 h2 {padding-top: 100px;}
        .cont4 .swiper {padding-bottom: 100px;}

        .cont5 h2 {padding-top: 100px;}
        .cont5 .swiper {padding-bottom: 100px;}
        .cont6 .swiper {padding-bottom: 100px;}
        }

        /* 미디어쿼리 폰 */
        @media (max-width:767px){
        .cont1 h2, .cont2 h2, .cont3 h2, .cont4 h2, .cont5 h2, .cont6 h2{font-size: 24px;}

            .video embed{height: 220px;}
            .cont{padding: 20px 0; margin-top: 69px;}
            .cont.shrink {top:48px}
            .cont h2 {font-size: 18px;}
            .cont ul li {margin-left: 35px;}
            .cont1 div .flex-box {margin-top: 10px;padding: 5px 25px;}
            .cont1 h2{font-size: 20px;}
            .cont1 h3{font-size: 18px;}
            .cont1 .flex-box {padding: 10px 20px;}
            .cont1 .flex-box>p:nth-child(1) {font-size: 20px;}
            .cont1 .flex-box>a>p{padding: 5px 25px;}
            .cont1 .container.flex-box > .flex-box {margin:auto;margin-top: 10px; margin-right: 0px;width: 100%;justify-content:space-between;}

            .bar h2{font-size: 20px;}
            .bar ul{justify-content: space-around;}
            .bar ul li {padding: 5px 15px;margin: 0 5px; }

            .cont2 h2{padding-top: 30px; font-size: 20px;}

            .cont2 ul li{width: 30px;height: 30px;}
            .cont2 .img-box{margin: 20px auto;}

            .cont3 h2 {padding-top: 50px;}
            .cont3 h3 {font-size: 20px;}
            .cont3 p{font-size: 16px;}
            .cont3 .swiper {padding-bottom: 80px;}

            .cont4 h2 {padding-top: 50px;}
            .cont4 h3 {font-size: 20px;}
            .cont4 p{font-size: 16px;}
            .cont4 .swiper {padding-bottom: 80px;}

            .cont5 h2 {padding-top: 50px;}
            .cont5 h3 {font-size: 20px;}
            .cont5 p{font-size: 16px;}
            .cont5 .swiper {padding-bottom: 80px;}

            .cont6 h2 {padding-top: 50px;}
            .cont6 h3 {font-size: 20px;}
            .cont6 p{font-size: 16px;}
            .cont6 .swiper {padding-bottom: 80px;}

            .swiper-pagination-clickable .swiper-pagination-bullet{width: 12px;height: 12px;}
                  footer {margin-top: 50px;}
        }
            



        

        /* 미디어쿼리 폰400 */
        @media (max-width:400px){
          
                .cont h2 {font-size: 16px;}
                .cont ul li {margin-left: 15px;}
                .cont1 img {width: 65px;}
                .cont2 .flex-box a {margin-right: 20px;}
                .cont2 .container {padding: 10px 0;}
                .cont3 p {font-size: 16px;}
          .bar ul li {padding: 5px 10px;}
         
        }

        /* 미디어쿼리 폰 375 */
        @media (max-width: 375px) {
          .bar .container.flex-box {padding: 0 5px;}
          .bar ul li {font-size: 15px;}
        }
