    @charset "utf-8";
    /* intro 내역 ===================  */
    .modal {
    
        position: fixed;
        left: 0;
        top: 0;    
            
        width: 100%;
        height: 100%;   
        background-color: rgba(0, 0, 0, 1);
        z-index: 900; /* z-index는 반드시 들어가야 한다 */ 
        
    }


    .modal-wrap { position: absolute;  width: 100%;height: 100%;
        z-index: 1000;left: 0%; top: 0px; 
    overflow-y: auto; padding: 50px 0;
    }

    .modal-body{    z-index: 1000;  position: relative;
    background-color: rgb(255, 255, 255);  text-align: center; padding:30px ;
        width: 80%; margin: auto; border-radius: 30px;  margin-bottom: 50px; border-radius: 30px;}  
    .modal-body h2{margin-bottom: 50px; font-size: 36px; padding-top: 30px; color: #1d1d1d;}
    .modal-body p{font-size: 24px;}


    .modal-close {
        position: absolute; /* fixed도가능함 */
        right: 60px;
        top: 70px;    
        color: #1d1d1d;
        cursor: pointer;  
        font-size: 40px;
    }


    @media(max-width:1400px){
    .modal, .modal-wrap{display: none};
    }
/* intro 내역 ===================  */

    /* 섹션1 부분 */
    section.cont1{margin-top: 60px; position: relative; }
    section.cont1 >div{position: absolute;right: 100px;bottom: 50px;z-index: 10;}
    .cont2 .flex-box>div a:hover{background-color: #17191d; transition: all 0.5s;}

    /* 섹션2 부분 */
    .cont2 .flex-box {margin-top: 100px;}
    .cont2 .flex-box>div{ width: 33.33%; padding: 0 20px;text-align: center;}
    .cont2 .flex-box>div>div{border-radius: 15px; background-color: white; overflow: hidden;}
    .cont2 .flex-box>div a{background-color: #A2AAAD; padding: 20px 0; font-size: 40px; width: 100%;display: block;  color: #f5f5f7;}


    /* 섹션3 부분 */
    .cont3{margin-top: 150px;}
    .cont3 h3{max-width: 1400px;font-size: 40px;color: #f5f5f7;}
    .cont3 .flex-box{margin-top: 10px;}
    .cont3 .flex-box>div{width: 50%; margin-top: 30px;padding: 10px;}
    .cont3 .flex-box>div>div{ position: relative; font-weight: bold;}
    .cont3 .flex-box>div>div img{ border-radius: 15px;}
    .cont3 .flex-box>div>div img:hover{cursor: pointer;}
    .cont3 .flex-box > div:nth-child(1)  p{position: absolute; bottom: 50px; z-index: 15; left: 230px;background-color: rgba(0, 0, 0, 0.1);}
    .cont3 .flex-box > div:nth-child(2)  p{position: absolute; top: 30px; z-index: 16; left: 40px;color: #121212; background-color: transparent;}
    .cont3 .flex-box > div:nth-child(3)  p{position: absolute; top: 30px; z-index: 17; left: 40px;color: #121212; background-color: transparent;}
    .cont3 .flex-box > div:nth-child(4)  p{position: absolute; top: 30px; z-index: 18; left: 25px;color: #121212; background-color: transparent;}

    .cont3-ta .flex-box{margin-top: 15px;}
    .cont3-ta .flex-box>div{width: 50%; margin-top: 50px;padding: 10px;}
    .cont3-ta .flex-box>div>div{ position: relative; font-weight: bold;}
    .cont3-ta .flex-box>div>div img{ border-radius: 15px;}
    .cont3-ta .flex-box >div:nth-child(1)  p{position: absolute; bottom: 50px; z-index: 15; left: 230px;background-color: rgba(0, 0, 0, 0.1);
    text-align: center;}
    .cont3-ta .flex-box >  div:nth-child(2)  p{position: absolute; top: 30px; z-index: 16; left: 40px;color: #121212; background-color: transparent;}
    .cont3-ta .flex-box > div:nth-child(3)  p{position: absolute; top: 30px; z-index: 17; left: 40px;color: #121212; background-color: transparent;}
    .cont3-ta .flex-box >  div:nth-child(4)  p{position: absolute; top: 30px; z-index: 18; left: 25px;color: #121212; background-color: transparent;}
    .cont3-ta{display: none;}
    .cont3-mo{display: none;}

    /* 섹션 4부분 */
    .cont4 h3{font-size: 40px; margin-top: 150px;  color: #f5f5f7;}
    .cont4 .flex-box{margin-top: 10px;text-align: center;}
    .cont4 .flex-box>div{width: 33.33%; padding: 10px; margin-top: 30px;} 
    .cont4 .flex-box>div>div img{border-radius: 15px;}
    .cont4 .flex-box>div>div img:hover{cursor: pointer;}
    .cont4 .flex-box > div > div > span {display: inline-block;font-size: 30px;font-weight: bold;margin-top: 20px;}
    .cont4 .flex-box > div > div > p{margin-top: 20px;text-align: left;  color: #f5f5f7;}
    .cont4-mo{display: none;}

        /* 스와이퍼 */
        :root {   --swiper-theme-color :#fff; }
        section.banner1{position: relative;}

.swiper {
    width: 100%;
    height: 100%;
    }

    .swiper-slide {
    text-align: center;
    font-size: 18px; 
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    .swiper-pagination-bullet{width: 14px;height: 14px; background-color: #f5f5f7;} 


        /* 미디어쿼리 테블릿 */
    @media (max-width:991px){

    section.cont1{margin-top: 60px;}
    section.cont1>div:nth-child(1){width: 100px;}
    section.cont1 >div{right: 80px; bottom: 25px;}
    .cont2 .flex-box {margin-top: 50px;}.cont2 .flex-box>div{padding: 0 15px}.cont2 .flex-box>div a{font-size: 26px;}

    .cont3{display: none;}
    .cont3-ta{margin-top: 50px;}.cont3-ta h3{font-size: 26px;margin-left: 20px;}.cont3-ta .flex-box{margin-top: 5px;}
    .cont3-ta .flex-box>div{margin-top: 20px;font-size: 14px; font-weight: bold;}
    .cont3-ta .flex-box > div:nth-child(1)  p{bottom: 20px;left: 70px; text-align: center;}
    .cont3-ta .flex-box > div:nth-child(2)  p{top: 10px;left: 20px;}
    .cont3-ta .flex-box > div:nth-child(3)  p{top: 10px;left: 20px;}
    .cont3-ta .flex-box > div:nth-child(4)  p{top: 10px;left: 15px;}
    .cont3-ta{display: block;}

    .cont4 h3{font-size: 26px;margin-left: 20px; margin-top: 50px;}.cont4 .flex-box{margin-top: 15px;}
    .cont4 .flex-box>div{margin-top: 5px;}
    .cont4 .flex-box > div > div > span {font-size: 26px;}
    .cont4-mo{display: none;}
    }

    

    /* 미디어쿼리 폰 */
    @media (max-width:767px){
        
        

    section.cont2{padding: 0 10px;}    
    section.cont1>img:nth-child(2){height: 20vh; width: 100%; object-fit: cover; object-position: -100px;}
    section.cont1 >div{right: 25px; bottom: 20px;}section.cont1>div:nth-child(1){width: 80px;}
    .cont2 .flex-box {margin-top: 30px;}
    .cont2 .flex-box>div{padding: 0 5px;}
    .cont2 .flex-box>div a{font-size: 20px; padding: 5px 0;}
    .cont3{display: none;}
    .cont3 h3{font-size: 20px;margin-left: 16px;}.cont3 .flex-box{margin-top: 5px;}.cont3 .flex-box>div{margin-top: 15px;}
    .cont3 .flex-box > div > p{display: none;}

    .cont3-ta{display: none;}
    
    .cont3-mo h3{font-size: 20px;color: #f5f5f7;}
    .cont3-mo{display: block;position: relative; padding:0 10px; margin-top: 50px;}
    .cont3-mo p{margin-top: 10px; font-size: 16px; font-weight: bold;}
    .cont3-mo .swiper{padding-bottom: 80px;margin-top: 30px;}

    .cont3-mo .swiper-slide img {border-radius:15px ;}

    .cont4{display: none;}
    .cont4-mo h3{font-size: 20px;color: #f5f5f7;}
    .cont4-mo .swiper-slide > div > span {font-size: 26px;font-weight: bold;display: inline-block; margin-top: 15px;}
    .cont4-mo{display: block; position: relative;padding: 0 10px; margin-top: 50px;}
    .cont4-mo p{margin-top: 10px; text-align: left;font-size: 16px;}
    
    .cont4-mo .swiper{padding-bottom: 80px;margin-top: 30px;}
    .cont4-mo .swiper-slide img {border-radius:15px ;}

    .swiper-pagination-bullet {width: 12px;height: 12px;}

}

@media (max-width:400px){
    .cont3-mo p {font-size: 15px;}
}