@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tulpen+One&display=swap');
      body{font-family: "Roboto", "Noto Sans KR", sans-serif}
    *{margin: 0; padding: 0;box-sizing: border-box;list-style: none;text-decoration: none;}
        img{max-width: 100%; display: block;}
        .flex-box{display: flex;flex-wrap: wrap;}
        .container{max-width: 1400px; margin: auto;}

        /* 헤더부분 */
        header{position: fixed;top: 0;left: 0;width: 100%;z-index: 100; background-color: #ffffff;}
        header .container.flex-box:first-child { padding: 20px 0; /* 상하 여백을 이 줄에만 적용 */border-bottom: 1px solid #7632fe;}
        header .container.flex-box{justify-content: space-between}
        header .logo{width:auto;align-items: center;}
        header .menu span{color: #7632fe;}
        .logo-tag{font-size: 21px;padding-left: 40px;align-items: center;}
        .logo-tag a{color: #202020;padding: 0 20px;}
        .logo-tag a:hover{color: #7632fe;}
        .menu >ul >li{display: inline-block;padding: 0 30px;}
        .menu >ul >li span{font-size: 30px;}
        .menu >ul >li span:hover{cursor: pointer;}


        
        .sub{position: fixed; top: 60px; right: 30px;  background-color: #ffffff; box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2); z-index: 99;
        color: #202020; display: none; overflow-y: auto;}
        .sub li{position: relative;padding: 10px 50px;}
        .sub li.profile{padding: 20px 20px;align-items: center;justify-content: space-between;}
        .sub li.profile .profile-actions {display: flex;align-items: center;gap: 15px;padding-left: 50px;}
        .sub li.profile p{padding-left: 10px; font-weight: bold;align-items: center;display: flex;font-size: 20px;}
      
        .mode-toggle-btn {position: relative;width: 50px;height: 20px;cursor: pointer;}
        .mode-state {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0; transition: opacity 0.3s ease-in-out; align-items: center;}
        .mode-state.active {opacity: 1;}

        .probar {border-radius: 10px;background-color: #7632fe;margin: 20px;}
        .probar li {padding: 10px 20px; height: 100%;align-items: center;justify-content: space-between; /* 좌우 벌어짐 */}
        .sub .probar li span{color: #fffefe;font-size: 21px;font-weight: bold;}
        .probar li p{color: #fffefe;font-size: 16px;padding-left: 10px;}

        .sub li.coin {padding: 10px 20px 0 20px;font-size: 16px;font-weight: bold;color: #202020;}
        .sub li.coin-info {padding: 20px 20px;justify-content: space-between;text-align: center;}
        .my-coin, .diamond {width: 50%; align-items: center;display: flex;}
        .my-coin p, .diamond p{font-size: 16px;font-weight: bold;color: #202020;padding-left: 10px;}
        .my-coin p.count, .diamond p.count{padding-top: 3px;}

        .sub li.menu-link {padding: 10px 20px;align-items: center;font-size: 16px;font-weight: bold;color: #202020;cursor: pointer;margin-top: 10px;}
        .sub li.menu-link p{padding-left: 20px;}
        .sub li.menu-link span {font-size: 32px;}

        .sub li.logout {text-align: center;font-size: 16px;color: #202020;cursor: pointer;padding: 30px 0;}

        .top-nav {align-items: center;justify-content: flex-start;gap: 35px;padding: 20px 0;}
        .top-nav p{color: #202020;font-size: 21px;font-weight: bold;}
        .top-nav p:hover{color: #7632fe;}

                  /* 네비바텀 */
                .sec0{display: none;}

                  /* 풋터 */
                .footer{margin-top: 150px;background-color: #414141;}
                .fo-top{align-items: center;cursor: pointer;padding: 20px 0;}
                .fo-top p{padding-left: 20px;font-size: 16px;color: #fffefe;}
                .fo-do{font-size:16px;text-align: center;color: #fffefe;}
                .fo-do p{ padding: 20px 0; }

                /* 테블릿 */
      @media (max-width:992px){
        header .container.flex-box:first-child { padding: 20px 20px;}
        .top-nav {padding:20px 20px ;}

        .fo-top {padding: 15px 10px;}
        .fo-do p{font-size: 13px;padding: 15px 10px;}

        @media (max-width:767px){
            .logo-tag {font-size: 16px;padding-left: 10px;}
        .logo-tag a{padding: 0 10px;}
        .menu >ul >li {padding: 10px;}
        .sub {right: 0;top: 0;width: 100%;height: 100vh;max-width: none;box-shadow: none;}
        .sub li {padding: 10px 20px;}
        .sub li.profile .profile-actions {padding-left: 0; gap: 15px;}
        .sub li.coin {padding: 15px 20px;}
        .sub li.coin-info {padding: 15px 20px 15px 20px;}
        .sub li.menu-link {padding: 15px 20px; margin-top: 20px;}
        .sub li.logout {position: absolute;bottom: 0;left: 0;width: 100%;text-align: center;z-index: 10;}
        .top-nav p{font-size: 16px;}

        .sec0{display: block;max-width: 100%;background-color: #f5f5f7;position: fixed;bottom: 0;right: 0;width: 100%;z-index: 98;border-radius: 10px 10px 0 0;}
        .sec0 span{color: #7632fe;font-size: 30px;}
        .sec0 p{color: #202020;font-size: 16px;text-align: center;}
        .mobile-nav {justify-content: space-between;padding: 15px 10px;}
        .nav-item{text-align: center;}


        .footer{margin-top: 80px;padding-bottom: 100px;}
        .fo-top {padding: 15px 10px;}
        .fo-top p{font-size: 14px;}
        .fo-do p {padding: 10px 10px;font-size: 11px;}
        }
      }

            /* 미니폰 */
            @media (max-width:400px){
                .logo img{width: 80%;}
        .logo-tag {font-size: 16px;padding-left: 5px;}
        .logo-tag a{padding: 0 5px;}
        header .container.flex-box:first-child {padding: 10px 10px;}

        .menu >ul >li {padding: 5px;}
        .menu >ul >li span {font-size: 24px;align-items: center;}
        .sub .probar li span {font-size: 18px;}
        .probar li p {font-size: 14px;}
        .sub li.menu-link{padding: 10px 20px;}
        .top-nav p {font-size: 16px;}
        .mobile-nav {padding: 10px 10px;}
        .sec0 span {font-size: 24px;}
        .sec0 p {font-size: 14px;}
        
        .fo-top p {font-size: 12px;padding-left: 10px;}
        
            }