@charset "utf-8";

.sec1{margin-top: 200px;}
.sec1 .book-info-top {gap: 30px;}
.sec1 .img-box img{border-radius: 10px;}
.sec1 .img-box{flex-shrink: 0;}

.sec1 .title-section span{font-size: 30px;font-weight: bold;color: #202020;}
.sec1 .title-section p{font-size: 21px;color: #2b6fe6;font-weight: bold;margin-top:10px;}
.sec1 .stats-section{gap: 20px;margin-top:15px;}
.sec1 .plus-section{margin-top: 20px;align-items: center;gap: 30px;}
.sec1 .plus-section .plus{background-color: #7632fe;color: #fffefe;padding: 3px 8px;border-radius: 5px;}
.sec1 .plus-section .only{background-color: #0d60d1; color: #fffefe;padding: 1px 8px;border-radius: 5px;}


.sec1 .stats-section span{font-weight: bold;gap: 20px;}
.sec1 .tag-section {gap: 20px;margin-top:15px;}
.sec1 .tag-section a{color: #202020;border-radius: 10px;border: solid 1px #7632fe;padding: 2px 6px;}
.sec1 .th-ic{margin-top: 20px;gap: 50px;cursor: pointer ;}
.sec1 .th-ic span{color: #7632fe;font-size: 36px;}
.sec1 .th-ic p{text-align: center;}

.sec1 .action-buttons{margin-top: 20px;gap: 50px;}
.sec1 .action-buttons button {cursor: pointer;border-radius: 10px;padding: 10px 30px;border: solid 1px #7632fe;background-color: #ffffff;
color: #202020;font-weight: bold;font-size: 18px;}
.sec1 .action-buttons button:hover{background-color: #7632fe;color: #fffefe;}

.sec1 .similar-works-btn{margin-top:25px;cursor: pointer;border-radius: 10px;padding: 10px 50px;background-color: #7632fe;
    color: #fffefe;font-weight: bold;font-size: 18px;border:none;}

    /* 섹션2 */
    .sec2 {margin-top: 30px;padding: 20px 10px;background-color: #f5f5f7; border-bottom:1px #7632fe solid;}
    .sec2 .summary-text {font-size: 16px;line-height: 1.6; color: #202020;}
    .sec2 .summary-text .hidden-summary-content {display: none;}
    .sec2 .summary-text.expanded .hidden-summary-content {display: block;}
    .sec2 .toggle-summary-btn {background: none;border: none;padding: 0;
    display: block;width: fit-content;margin: 10px ;color: #7632fe;font-weight: bold;cursor: pointer;font-size: 14px;}
    

    /* 섹션3 */
    .sec3 {margin-top: 30px;}
    .sec3 .ep {justify-content: space-between;align-items: center;}
    .sec3 .ep-in {font-size: 18px;color: #202020;cursor: pointer;font-weight: bold;}
    .sec3 .change { /* sort-criteria 대신 change 적용 */
    color: #202020;font-weight: bold;cursor: pointer;font-size: 16px;flex-shrink: 0;gap: 5px; align-items: center;}
    .sec3 .chang span{font-size: 16px;}

    /* 섹션4 */
    .sec4 {margin-top: 20px;}
    .sec4 .n-list {background-color: #ffffbd;}
    .sec4 .n-item {border-bottom: 1px solid #7632fe;justify-content: flex-start;align-items: center;padding: 10px 0;}
    .sec4 .ep-title-group {gap: 10px;padding-left: 10px;}
    .sec4 .ep-title {font-weight: bold; color: #202020;font-size: 16px;}
    .sec4 .ep-stats-small {font-size: 14px; color: #707070;gap: 10px;padding-left:10px; }
    .sec4 .n-item .n-left {flex-grow: 1;}
    .sec4 .n-right {font-size: 14px;padding-right: 10px;}
    .sec4 .load-con-notice {text-align: center;padding: 15px 0;color: #7632fe; font-weight: bold;cursor: pointer;}
    .sec4 .n-item .le-ba {width: 5px;height: 50px;background-color: #7632fe;border-radius: 10px;margin-left: 10px;}

    /* 섹션5 */
    .sec5 {padding: 0 10px; margin-top: 30px;}
    .sec5 .ep-item {justify-content: space-between;align-items: center; border-bottom: 1px solid #7632fe; padding: 15px 0; 
    cursor: pointer;gap: 10px;}
    .sec5 .ep-item.f .le-ba { background-color: #166d94;width: 5px;height: 50px;border-radius: 10px;margin-left: 10px; }
    .sec5 .ep-item.p .le-ba { background-color: #7632fe;width: 5px;height: 50px;border-radius: 10px;margin-left: 10px;  }
    .sec5 .ep-left {flex-grow: 1;align-items: center;}
    .sec5 .ep-no {font-weight: bold;color: #202020;font-size: 16px;display: flex; align-items: center;}
    .sec5 .ep-stats-large {font-size: 14px;color: #707070;display: flex;gap: 10px;margin-top: 10px;}
    .sec5 .plus-tag{background: #7632fe;margin-right: 10px;padding: 4px 6px;border-radius: 10px;
        color: #fffefe;font-size: 12px;}
    .sec5 .free-tag{background: #166d94;margin-right: 10px;padding: 2px 6px;border-radius: 10px;
        color: #fffefe;font-size: 12px;}

        /* 섹션6 */
        .sec6 {margin-top: 100px;}
        .sec6 .paging{justify-content: center;gap: 10px;align-items: center;cursor: pointer;}
        .sec6 .pg-btn {font-size: 16px;font-weight: bold;color: #202020;text-align: center;
            border-radius: 5px;text-decoration: none;padding: 10px 14px;background-color: #f5f5f7;}
        .sec6 .pg-btn.active {background-color: #7632fe;color: #fffefe;}
        .sec6 .paging span{background-color: #f5f5f7;color: #202020;padding: 10px 10px;border-radius: 5px;
        align-items: center;display: flex;justify-content: center;font-size: 18px;}
        .sec6 .paging span:last-child {margin-left: 20px;}


        .sec-om {display: none;}

          /* 테블릿 */
          @media (max-width:992px){
            .sec1{margin-top: 170px;}
            .sec1 .book-info-top {gap: 30px;padding-left: 20px;}
            


            
          }



                  /* 모바일 */
        @media (max-width:767px){
            .sec1 .similar-works-btn{display: none;}
            .sec1 {margin-top: 200px; padding: 0 0;}
            .sec1 .book-info-top {flex-wrap: nowrap;padding: 0 10px;gap: 15px;}
            .sec1 .img-box {width: 50%; height: auto;flex-shrink: 0;}
            .sec1 .details-container {width: 50%; flex-grow: 0;}
            .sec1 .title-section span{font-size: 15px;}
            .sec1 .title-section p {font-size: 15px;}
            .sec1 .plus-section{margin-top: 10px;}
            .sec1 .plus-section {gap: 10px;}
            .sec1 .plus-section .plus,.sec1 .plus-section .only {font-size: 13px;}

            .sec1 .stats-section {font-size: 13px;gap: 10px;margin-top: 10px;}

            .sec1 .tag-section {gap: 10px;margin-top: 10px;}
            .sec1 .tag-section a {font-size: 13px;}

            .sec1 .th-ic {margin-top: 20px;gap: 30px;}
            .sec1 .th-ic span {font-size: 24px;}
            .sec1 .th-ic p {font-size: 13px;}
            .sec1 .action-buttons button {padding: 10px 15px;font-size: 13px;}
            .sec1 .action-buttons {gap: 5px;}

            .sec2 {padding: 20px 20px;}
            .sec2 .summary-text {font-size: 14px;}
            
            .sec3{padding: 0 20px;margin-top: 20px;}
            .sec3 .ep-in{font-size: 16px;}

            .sec4 .ep-stats-small {font-size: 12px;gap: 5px;padding: 3px 10px; }
            .sec4 .n-item .le-ba {height: 52px;}
            .sec4 .ep-title-group {padding: 6px 10px;}
            

            .sec5 .plus-tag,.sec5 .free-tag {font-size: 12px;padding: 3px 5px; margin-right: 5px;
                display: inline-flex;align-items: center;}
            .sec5 .ep-right{font-size: 12px;}
            .sec5 .ep-stats-large {font-size: 12px;margin-top: 7px;}
            .sec5 .ep-no {font-size: 14px;}

            .sec6 {margin-top: 40px;}
            .sec6 .paging {gap: 8px;}
            .sec6 .pg-btn {font-size: 14px;padding: 8px 12px;}
            .sec6 .paging span {font-size: 16px; padding: 8px 8px;}
            .sec6 .paging span:last-child {margin-left: 5px;}

            .sec-om {display: block;}
            .sec-om .btn-st {position: fixed;
                bottom: 100px;left: 50%;transform: translateX(-50%);z-index: 99;
                align-items: center; overflow: visible; width: auto;}
            .sec-om .btn-st .btn-thumb {border-radius: 50%;border: 2px solid #7632fe; /* 흰색 테두리 */overflow: hidden;
                flex-shrink: 0;margin-right: -15px; z-index: 98;}
            .sec-om .btn-st .btn-thumb img {width: 100%;height: 100%;object-fit: cover;}
            .sec-om .fixed-btn {background-color: rgba(18, 18, 18, 0.95);
                border: 2px solid #7632fe;border-radius: 0 50px 50px 0;cursor: pointer;padding: 6px 20px;
                color: #fffefe;}
                .sec-om .fixed-btn span {font-size: 16px;font-weight: bold;align-items: center;}

        }


        /* 미니폰 */
        @media (max-width:400px){
        .sec1{margin-top: 150px;}
        .sec1 .title-section span {font-size: 13px;}
        .sec1 .title-section p {font-size: 13px;}
        .sec1 .plus-section .plus{font-size: 10px;}
        .sec1 .stats-section{font-size: 10px;}
        .sec1 .tag-section a {font-size: 12px;}
        .sec1 .th-ic {margin-top: 15px;}
        .sec1 .action-buttons button {padding: 6px 10px;font-size: 14px;}
        .sec3 .change {font-size: 14px;}
        .sec3 .change span{font-size: 14px;}

        .sec4 .ep-stats-small {font-size: 12px;}
        .sec4 .ep-title {font-size: 14px;}
        .sec4 .n-right {font-size: 12px;}
        .sec4 .n-item {padding: 8px 0;}
        .sec4 .load-con-notice {font-size: 14px;}
        .sec4 .ep-title-group span{font-size: 21px;align-items: center;}
        
        .sec5 .ep-no {font-size: 14px;}

        .sec-om .btn-st {bottom: 80px;}
        


        }