@charset "utf-8";
    /* intro 내역 ===================  */
    .modal {
    
        position: fixed;
        left: 0;
        top: 0;    
            
        width: 100%;
        height: 100%;   
        background-color: rgba(0, 0, 0, 1);
        z-index: 900; /* z-index는 반드시 들어가야 한다 */ 
        
    }


    .modal-wrap { position: absolute;  width: 100%;height: 100%;
        z-index: 1000;left: 0%; top: 0px; 
    overflow-y: auto; padding: 50px 0;
    }

    .modal-body{    z-index: 1000;  position: relative;
    background-color: rgb(255, 255, 255);  text-align: center; padding:30px ;
        width: 80%; margin: auto; border-radius: 30px;  margin-bottom: 50px; border-radius: 30px;}  
    .modal-body h2{margin-bottom: 50px; font-size: 36px; padding-top: 30px; color: #1d1d1d;}
    .modal-body p{font-size: 24px;}


    .modal-close {
        position: absolute; /* fixed도가능함 */
        right: 40px;
        top: 55px;    
        color: #1d1d1d;
        cursor: pointer;  
        font-size: 40px;
    }


    .intro {display: block;max-width: 100%;margin:auto;}
    .intro-mo {display: none;max-width: 100%; height:auto; margin:auto;}


    @media(max-width:1400px){
        .modal, .modal-wrap{display: none};
        }


    /* 섹션1 */
    #pc-img{display: block;}
    #ta-img, #mo-img { display: none;}
    .sec1{background-color: #000; overflow: hidden;height: 100vh;}
    .sec1 .img-box {height: 100%;}
    .sec1 .img-box .bg-img{opacity: 0.6;position: relative;padding-top: 90px;}
    .sec1 .text-box {position: absolute;top: 50%;left: 0;color: #effffc;text-align: center;z-index: 10;transform: translateY(-50%);width: 100%;}
    .sec1 .text-box p {font-size: 100px;font-weight: 900;}

    

    .icon span {color: #ffffff;text-align: center;}
   
    @media (max-width:1024px){

        .sec1 .text-box p {font-size: 60px;}    
        .sec1 .img-box .bg-img{padding-top: 57px;}
        .sec1 img{height: 100%;}
        #pc-img, #mo-img { display: none; }
        #ta-img { display: block; }
        



        
    }


    @media (max-width:767px){

   
        /* 섹션1 */
        .modal, .modal-wrap { display: block; }
        .intro {display:none;}
        .intro-mo {display: block;}
        .modal-body h2 {font-size: 24px;margin-bottom: 30px;padding-top: 10px;}
        .modal-close {right: 20px;top: 28px;font-size: 30px;padding: 10px;}
        
        .sec1 .text-box p {font-size: 40px;}
         .sec1 span{display: block;}
        #pc-img, #ta-img { display: none; }
        #mo-img { display: block; }
 }

        

